.home {
  margin: 0 16px;
}
.cards {
  padding-top: 65.6px;
}

.ytp-large-play-button,
.ytp-button,
.ytp-large-play-button-red-bg {
  display: none !important;
}

.frame1 {
  display: none;
}

.frame:hover {
  display: none;

  .frame1 {
    background: #000;
  }
  .frame1 {
    display: block;
  }
}

.loader {
  position: relative;
  bottom: 0;
  left: 50%;
}
.searchSuggests {
  width: 100%;
  padding: 10px;
  overflow-x: auto;

  background: #fff;

  position: fixed;
  z-index: 20;
}

.searchSuggests::-webkit-scrollbar {
  display: none;
}

.searchSuggests div {
  padding: 8px 12px;

  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.22);
  background: rgba(0, 0, 0, 0.02);

  cursor: pointer;
}
